div{
  background-color:#0caae9;
  padding: 20px;;
}
h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  color: rgb(254, 253, 253);
  background-color:#0caae9 ;
}
p{
  color: aliceblue;
  background-color:#0caae9 ; 
}
