<div class="footer-dark">
    <footer>
       <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3 style="color:#0caae9">Services</h3>
                    <ul>
                        <li style="color:aliceblue"><a href="#">Web design</a></li>
                        <li  style="color:aliceblue"><a href="#">Development</a></li>
                        <li  style="color:aliceblue"><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3 style="color:#0caae9">About</h3>
                    <ul>
                        <li  style="color:aliceblue"><a href="#">Company</a></li>
                        <li  style="color:aliceblue"><a href="#">Team</a></li>
                        <li  style="color:aliceblue"><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3 style="color:#0caae9">TeleIndia</h3>
                    <p  style="color:aliceblue">TeleIndia strong vision is “to provide a competitive advantage to its customers & OEMs by lowering their operating costs and improving the operating reliability” </p>
                    
                </div>
            
                <div class="col item social"><a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://twitter.com/search"><i class="icon ion-social-twitter"></i></a>
                    <a href="https://www.snapchat.com/"><i class="icon ion-social-snapchat"></i></a>
                    <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">TeleIndia © 2022</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>